@model BankZdjecOlsztyn.ViewsModels.MiastoAddViewModel

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,URL"></script>
<form enctype="multipart/form-data" asp-action="Index" id="sever" class="col-lg-6 offset-lg-3" method="post" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>
    <h2 id="form_h">Znasz ciekawe miejsca?</h2>
    <h3 id="form_h">Pokaż je nam! </h3>
    <div class="form-group">
        <label asp-for="Nazwa" class="col-2 custom-control-label">Nazwa</label>
        <div class="col-sm-10">
            <input asp-for="Nazwa" class="form-control" />
            <span asp-validation-summary="Nazwa" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Opis" class="col-2 custom-control-label">Opis</label>
        <div class="col-sm-10">
            <input asp-for="Opis" class="form-control" />
            <span asp-validation-summary="Opis" class="text-danger"></span>
        </div>
    </div>

    <div id="list1" class="dropdown-check-list form-group" tabindex="100">
        <div class="col-sm-10">
            <button type="button" class="anchor btn btn-primary">Wybierz tagi</button>

        </div>
        <ul id="items" class="items">
            <asp:CheckBoxList id="checkboxlist1"
                              AutoPostBack="True"
                              CellPadding="5"
                              CellSpacing="5"
                              RepeatColumns="2"
                              RepeatDirection="Vertical"
                              RepeatLayout="Flow"
                              TextAlign="Right"
                              OnSelectedIndexChanged="Check_Clicked"
                              runat="server">
                @foreach (Tag item in Model.Tagi)
                {
                    <li id="item">
                        <input name="AreChecked" type="checkbox" value="@item.TagId" id="@item.Nazwa checker">
                        <label for="@item.Nazwa">
                            <asp:ListItem Value="@item.TagId"> @item.Nazwa </asp:ListItem>
                            @*@item.Nazwa*@
                        </label>
                    </li>
                }


            </asp:CheckBoxList>
        </ul>
    </div>

    <div class="form-group">
        <label asp-for="Zdiencie" class="col-sm-2 col-form-label">Zdjęcie</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Zdiencie" class="form-control custom-file-input" />
                <label class=" custom-file-label">Wybierz zdjęcie...</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="myModal" id="myBtn">Wybierz współrzędne</button>

        </div>
    </div>

    <div id="myModal" role="dialog" class="modal  ">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Wybierz punkt</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div id="map" class="map col-lg-6 offset-lg-3"></div>

            </div>
            <div class="modal-footer">
                <div class="col-12 text-center" id="wspuzlende">Wybrane współrzędne</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="szerokosc" class="col-sm-2 custom-control-label">Szerokość geograficzna</label>
        <div class="col-sm-10">
            <input asp-for="szerokosc" id="szerokosc" class="form-control" />
            <span asp-validation-summary="szerokosc" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="wysokosc" class="col-2 custom-control-label">Wysokość geograficzna</label>
        <div class="col-sm-10">
            <input asp-for="wysokosc" class="form-control" id="wysokosc" />
            <span asp-validation-summary="wysokosc" class="text-danger"></span>

        </div>
    </div>

    <div class="col-md-5">
        <input type="submit" class="btn btn-primary" />

    </div>
    



    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }





</form>

<script src="~/mapa.js"></script>



<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
         var wydzial = ol.proj.fromLonLat([20.45594, 53.74374]);
    var view = new ol.View({
        center: wydzial,
        zoom: 11
    });
    var layer = new ol.layer.Tile({
        preload: 3,
        source: new ol.source.OSM(),
        source: new ol.source.OSM()
    });

    var map = new ol.Map({
        layers: [layer],
        target: 'map',
        view: view
    });
          map.on('click', function (evt) {
        //var element = popup.getElement();
        var coordinate = evt.coordinate;
        var hdms = ol.proj.toLonLat(coordinate);
        var szer = "" + hdms[1];
        szer = szer.replace(".", ",");
        var wys = "" + hdms[0];
        wys = wys.replace(".", ",");

        // const tab = [...hdms];
        //  const szer = "" + tab[0] + tab[1] + "," + tab[4] + tab[5] + tab[8] + tab[9];
        //  const wys = "" + tab[14] + tab[15] + "," + tab[18] + tab[19] + tab[22] + tab[23];
        document.getElementById('wspuzlende').innerHTML = hdms;
        document.getElementById('szerokosc').value = szer;//parseFloat(szer);
        document.getElementById('wysokosc').value = wys;//parseFloat(wys);
        //$(element).popover('destroy');
        //popup.setPosition(coordinate);
        //$(element).popover({
        //    placement: 'top',
        //    animation: false,
        //    html: true,
        //    content: '<p>The location you clicked was:</p><code>' + hdms + '</code>'
        //});
        //$(element).popover('show');
    });

    }
  

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>




<script type="text/javascript">

    var checkList = document.getElementById('list1');
    var items = document.getElementById('items');
    checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
        if (items.classList.contains('visible')) {
            items.classList.remove('visible');
            items.style.display = "none";
        }

        else {
            items.classList.add('visible');
            items.style.display = "block";
        }


    }

    items.onblur = function (evt) {
        items.classList.remove('visible');
    }
</script>